[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.28"
telepot = "*"
babel = "*"
pytvmaze = "*"
requests = "*"
django-dotenv = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
