[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.2"
telepot = "*"
babel = "*"
pytvmaze = "*"
requests = "*"
django-dotenv = "*"
gunicorn = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
